.container{
    
}

.container .top{
    display: flex;
}

.container .top .topRight{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.container .top .topRight .enterContainer{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-color: var(--lightGray);
    padding: 3px;
    border-radius: 5px;
    font-size: 10px;
    align-items: center;
    justify-content: center;
}

.container .top .topRight .enterContainer .enterArrow{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--lightGray);
    border-color: var(--lightGray);
    border-radius: 5px;
}

.container .top .topRight .enterContainer .enter{
    display: flex;
    color: var(--lightGray);
    margin-top: -5px;
}


.container .top .topRight .add{
    font-size: 28px;
    color: var(--primeBlue);
    cursor: pointer;
}

.container .err{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.container .list{
    display: flex;
    margin-top: 20px;
    gap: 10px;
    flex-direction: column;
}

.container .list .noResults{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}