.container{
    
}

.container .top{
    display: flex;
}

.container .top .topRight{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px
}

.container .top .topRight .enterSearch{
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.container .top .topRight .add{
    font-size: 28px;
    color: var(--primeBlue);
    cursor: pointer;
}

.container .list{
    display: flex;
    margin-top: 20px;
    gap: 10px;
    flex-direction: column;
}