.button{
    background-color: var(--primeBlue);
    border-radius: 10px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    gap: 5px
}

.button:hover{
   
}

.loading{
    width: 45px;
    height: 45px;
    margin: -20px;
}