@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root{
  --background: rgb(245, 245, 245);
  --backGray: rgb(237, 237, 240);
  --midGray: rgb(105, 105, 112);
  --primeBlue: rgb(112, 134, 161);
  --accentBlue: rgb(134, 160, 191);
  --lightBlue: rgba(112, 134, 161, 0.25);
  --text: rgb(11, 13, 15);
  --red: rgb(181, 36, 36);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  font-family: "Abel", sans-serif;
  font-style: normal;
  color: var(--text);
}

h1{
  font-weight: 900;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  color: var(--text);
}

h2{
  font-weight: 400;
  font-size: 24px;
  margin: 0px;
  padding: 0px;
  color: var(--text);
}

h3{
  font-weight: 400;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  color: var(--accentBlue);
}

p{
  font-weight: 400;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  color: var(--text);
}

button{
  background-color: transparent;
  border-style: none;
}
