@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root{
  --background: rgb(249, 247, 250);
  --backGray: rgb(237, 237, 240);
  --midGray: rgb(105, 105, 112);
  --primeBlue: rgb(112, 134, 161);
  --accentBlur: rgb(134, 160, 191);
  --secondaryBlue: rgb(167, 184, 204);
  --text: rgb(11, 13, 15);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1{
  color: black;
  font-weight: 800;
  font-size: 22px;
  margin: 10px;
  padding: 0px;
}

h2{
  color: black;
  font-weight: 400;
  font-size: 28px;
  margin: 10px;
  padding: 0px;
}

h3{
  color: black;
  font-weight: 400;
  font-size: 22px;
  margin: 10px;
  padding: 0px;
}

p{
  color: black;
  font-weight: 400;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

button{
  background-color: transparent;
  border-style: none;
}
