@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

:root{
  --background: rgb(245, 245, 245);
  --backGray: rgb(237, 237, 240);
  --midGray: rgb(105, 105, 112);
  --primeBlue: rgb(112, 134, 161);
  --accentBlue: rgb(134, 160, 191);
  --lightBlue: rgba(112, 134, 161, 0.2);
  --marginalBlue: rgba(112, 134, 161, 0.1);
  --text: rgb(11, 13, 15);
  --red: rgb(181, 36, 36);
  --green: rgba(33, 166, 69, 1)
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  font-family: "Assistant", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--text);
}

h1{
  font-weight: 700;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  color: var(--text);
}

h2{
  font-weight: 400;
  font-size: 24px;
  margin: 0px;
  padding: 0px;
  color: var(--text);
}

h3{
  font-weight: 600;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
  color: var(--text);
}

h4{
  font-weight: 400;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  color: var(--primeBlue);
}

p{
  font-weight: 400;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  color: var(--text);
}

button{
  background-color: transparent;
  border-style: none;
}
